@mixin font-properties($fs, $lh, $ls) {
  font-size: $fs + px;
  line-height: $lh;
  letter-spacing: $ls + em;
}
// Use case:
// @include font-properties(14, 1.14, 0.03);

@mixin font-properties-cutted($fs, $lh) {
  font-size: $fs + px;
  line-height: $lh;
}
//  @include font-properties-cutted(14, 1.14);

@mixin transition($property, $duration: 250ms, $timing-function: cubic-bezier(0.4, 0, 0.2, 1)) {
  transition: $property $duration $timing-function;
}
//use: @include transition (property);
