// color

$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$accent-text-color: #ff6b08;
$footer-text-color: #545454;
$card-text-color: #8c8c8c;
$alert-text-color: #ff001b;

$primary-background-color: #ffffff;
$header-overlay-color: rgba(0, 0, 0, 0.56);
$footer-background-color: #f7f7f7;

$accent-color: #ff6b01;
// text
