<div>
  <ul class="control__languages">
    <li class="control__languages-item">
      <a href="#1" class="control__languages-link" data-set="en-US">
        <svg class="control__languages-icon" width="12" id="englishLink" height="12">
          <use href="./images/Icons/icons.svg#icon-lang-usa"></use>
        </svg>
      </a>
    </li>
    <li class="control__languages-item">
      <a href="#2" class="control__languages-link" data-set="ru-RU">
        <svg class="control__languages-icon" width="12" id="russianLink" height="12">
          <use href="./images/Icons/icons.svg#icon-lang-rus"></use>
        </svg>
      </a>
    </li>
    <li class="control__languages-item">
      <a href="#3" class="control__languages-link" data-set="uk-UA">
        <svg class="control__languages-icon" width="12" id="ukrainianLink" height="12">
          <use href="./images/Icons//icons.svg#icon-lang-ukr"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
