<section class="modal-film">
    <div class="modal-overlay">
        <div class="film__container">
            <img src="#" alt="A FISTFUL OF LEAD" class="film__img" width="240px" height="357px">
            <h1 class="film__title">A FISTFUL OF LEAD</h1>
            <ul class="film__feature">
                <li class="film__feature-item">Vote / Votes<span class="film__feature-item__text">7.3 / 1260</span></li>
                <li class="film__feature-item">Popularity<span class="film__feature-item__text">100.2</span></li>
                <li class="film__feature-item">Original Title<span class="film__feature-item__text">A FISTFUL OF LEAD</span></li>
                <li class="film__feature-item">Genre<span class="film__feature-item__text">Western</span></li>
            </ul>
            <h2>ABOUT</h2>
            <p class="film__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, consectetur sit aliquid assumenda explicabo magni molestiae iure cum natus animi itaque ex, libero reiciendis accusamus, praesentium nemo repellendus. Veritatis, nobis?
            Voluptates inventore unde, laudantium assumenda aliquid quo quibusdam a ipsam debitis pariatur dignissimos molestias. Nulla eveniet sit et vel sint qui porro est quos nobis enim! Accusamus inventore quae natus.</p>
            <div class="btn-container">
                <button type="button" class="btn btn--active">ADD TO WATCHED</button>
                <button type="button" class="btn">ADD TO QUEUE</button>    
            </div>
        </div>  
    </div>
</section>