<section class="modal">
  <h2 class="visually-hidden">Details</h2>
  <div class="backdrop js-modal visually-hidden">
    <div class="film">
      <button type="button" class="modal__close-btn js-close-modal"></button>
      <div class="js-film"></div>
      <div class="btn-container">
        <button type="button" class="btn btn__to-watched lang-addWatched">ADD TO WATCHED</button>
        <button type="button" class="btn btn__to-queue lang-addQueue">ADD TO QUEUE</button>
      </div>
    </div>
  </div>
</section>
