<section class="modal">
    <div class="backdrop">
        
        <div class="film">
            <button type="button" class="modal__close-btn">
            </button>
        
            <img src="#" alt="A FISTFUL OF LEAD" class="film__img">
            <div class="film__info-container">
                <h2 class="film__title">A FISTFUL OF LEAD</h2>
                <table class="film__feature">
                    <tr class="film__feature-line">
                        <td class="film__feature-option">Vote / Votes</td>
                        <td class="film__feature-details"><span class="vote">7.3</span> / 1260</td>
                    </tr>
                    <tr class="film__feature-line">
                        <td class="film__feature-option">Popularity</td>
                        <td class="film__feature-details">100.2</td>
                    </tr>
                    <tr class="film__feature-line">
                        <td class="film__feature-option">Original Title</td>
                        <td class="film__feature-details">A FISTFUL OF LEAD</td>
                    </tr>
                    <tr class="film__feature-line">
                        <td class="film__feature-option">Genre</td>
                        <td class="film__feature-details">Western</td>
                    </tr>
                </table>
                <div class="film__about-container">
                    <p class="about">ABOUT</p>
                    <p class="film__description">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
                </div>
                <div class="btn-container">
                    <button type="button" class="btn btn-320">ADD TO WATCHED</button>
                    <button type="button" class="btn">ADD TO QUEUE</button>    
                </div>
            </div>
        </div> 
    
    </div>
</section>