<section class="pagination">
  <h2 class="visually-hidden">Pages</h2>
<div class="pagination-section container">

<div id="pagination-mobile" class="tui-pagination pagination-custom pagination-mobile"></div>
<div id="pagination-tablet" class="tui-pagination pagination-custom pagination-tablet"></div>
  <!-- Блок для мобільного -->
  <!-- <div class="pagination-mobile">
    <button class="button pagination-arrow-btn">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-left"></use>
      </svg>
    </button>
    <ul class="pagination-buttons"> -->
      <!-- тут рендериться 5 кнопок -->
    <!-- </ul>
    <button class="button pagination-arrow-btn">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-right"></use>
      </svg>
    </button>
  </div> -->

  <!-- Блок для таблета або декстопа -->
  <!-- <div class="pagination-tablet">
    <button class="button pagination-arrow-btn">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-left"></use>
      </svg>
    </button>
    <ul class="pagination-buttons"> -->
      <!-- тут рендериться 9 позицій -->
    <!-- </ul>
    <button class="button pagination-arrow-btn">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-right"></use>
      </svg>
    </button>
  </div> -->
</div>
</section>