<section class="pagination-section">
  <h2 class="visually-hidden">Pages</h2>
<div class="pagination-section container">
  <!-- Блок для мобільного -->
  <div class="pagination-mobile">
    <button class="button pagination-arrow-button">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-left"></use>
      </svg>
    </button>
    <ul class="pagination-buttons">
      <li>
        <button class="button pagination-page pagination-number">
          11
        </button>
      </li>
      <li>
        <button class="button pagination-page pagination-number">
          11
        </button>
      </li>
      <li>
        <button class="pagination-number-active button is-active-btn pagination-page pagination-page-active">
          11
        </button>
      </li>
      <li>
        <button class="button pagination-page pagination-number">
          11
        </button>
      </li>
      <li>
        <button class="button pagination-page pagination-number">
          11
        </button>
      </li>
    </ul>
    <button class="button pagination-arrow-button">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-right"></use>
      </svg>
    </button>
  </div>

  <!-- Блок для таблета або декстопа -->
  <div class="pagination-tablet">
    <button class="button pagination-arrow-button">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-left"></use>
      </svg>
    </button>
    <ul class="pagination-buttons">
        <li>
          <button class="button pagination-btn pagination-btn-tablet">
          11
        </button>
    </li>
    <li>
        <button class="button pagination-btn pagination-btn-tablet">
            ...
        </button>
    </li>
    <li>
        <button class="button pagination-btn pagination-btn-tablet">
            11
        </button>
      </li>
      <li>
        <button class="button pagination-btn pagination-btn-tablet">
          11
        </button>
      </li>
      <li>
        <button class="pagination-number-active button is-active-btn pagination-btn pagination-page-active">
          11
        </button>
      </li>
      <li>
        <button class="button pagination-btn pagination-btn-tablet">
          11
        </button>
      </li>
      <li>
        <button class="button pagination-btn pagination-btn-tablet">
          11
        </button>
      </li>
      <li>
        <button class="button pagination-btn pagination-btn-tablet">
          ...
        </button>
      </li>
      <li>
        <button class="button pagination-btn pagination-btn-tablet">
          11
        </button>
      </li>
    </ul>
    <button class="button pagination-arrow-button">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
</section>