<div class="pagination-section container">
  <!-- Блок для мобільного -->
  <div class="pagination-mobile">
    <button class="pagination pagination-arrow-button">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-left"></use>
      </svg>
    </button>
    <ul class="buttons">
      <li>
        <button class="pagination pagination-page">
          <p class="pagination pagination-number">11</p>
        </button>
      </li>
      <li>
        <button class="pagination pagination-page">
          <p class="pagination pagination-number">11</p>
        </button>
      </li>
      <li>
        <button class="pagination-page pagination-page-active">
          <p class="pagination-number pagination-number-active">11</p>
        </button>
      </li>
      <li>
        <button class="pagination pagination-page">
          <p class="pagination pagination-number">11</p>
        </button>
      </li>
      <li>
        <button class="pagination pagination-page">
          <p class="pagination pagination-number">11</p>
        </button>
      </li>
    </ul>
    <button class="pagination pagination-arrow-button">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-right"></use>
      </svg>
    </button>
  </div>

  <!-- Блок для таблета або декстопа -->
  <div class="pagination-tablet">
    <button class="pagination-arrow-button">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-left"></use>
      </svg>
    </button>
    <ul class="buttons">
        <li>
          <button class="pagination-page pagination-page-tablet">
          <p class="pagination pagination-number">11</p>
        </button>
    </li>
    <li>
        <button class="pagination-page pagination-page-tablet">
            <p class="pagination-number">...</p>
        </button>
    </li>
    <li>
        <button class="pagination-page pagination-page-tablet">
            <p class="pagination-number">11</p>
        </button>
      </li>
      <li>
        <button class="pagination-page pagination-page-tablet">
          <p class="pagination-number">11</p>
        </button>
      </li>
      <li>
        <button class="pagination-page pagination-page-active">
          <p class="pagination-number pagination-number-active">11</p>
        </button>
      </li>
      <li>
        <button class="pagination-page pagination-page-tablet">
          <p class="pagination-number">11</p>
        </button>
      </li>
      <li>
        <button class="pagination-page pagination-page-tablet">
          <p class="pagination-number">11</p>
        </button>
      </li>
      <li>
        <button class="pagination-page pagination-page-tablet">
          <p class="pagination-number">...</p>
        </button>
      </li>
      <li>
        <button class="pagination-page pagination-page-tablet">
          <p class="pagination-number">11</p>
        </button>
      </li>
    </ul>
    <button class="pagination pagination-arrow-button">
      <svg class="arrow" width="16" height="16">
        <use href="./images/Icons/icons.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
