.footer {
  margin-right: auto;
  margin-left: auto;
  padding-top: 29px;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  background-color: $footer-background-color;
  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
    }
  }
  &__text {
    text-align: center;
    color: $footer-text-color;
    @include font-properties-cutted(14, 1.135);

    @media screen and (min-width: $tablet) {
      @include font-properties-cutted(16, 1.17);
    }
    &--students {
      border-bottom: 1px solid $footer-text-color;
    }
    &--before {
      margin-bottom: 10px;
      @media screen and (min-width: $tablet) {
        margin-bottom: 0;
      }
    }
  }
}
