.footer-container {
  background-color: #f7f7f7;
  height: 77px;
  text-align: center;
  justify-content: center;

}

.footer-text {
  @media only screen and (min-width: 1024px) {
    color: #545454;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
  
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 28px;
    align-items: center;
    text-align: center;
  
  }
  @media screen and (min-width: 768px) {
    
   
    font-size: 16px;
    line-height: 19px;

    padding-left: 143px;
    padding-right: 143px;
    padding-top: 30px;
    padding-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  @media screen and (min-width: 320px) {
    
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 16px;

    padding-top: 28px;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;
    
    
  }
}
@media screen and (min-width: 320px) {
.footer-developed {
  margin-top: 10px;
  }
}

@media screen and (min-width: 768px){
  .footer-developed {
    margin-top: 0px;
    }
}

@media only screen and (min-width: 1024px){
  .footer-developed {
    margin-top: 0px;
    }
}
.footer-hear{
  margin-left: 10px;
  margin-right: 10px;
}


