.footer-container {
  background-color: #f7f7f7;
  height: 77px;
  text-align: center;
  justify-content: center;
}

.footer-text {
  color: #545454;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 28px;
  align-items: center;
  text-align: center;
  
}
