.movies {
  padding-top: 20px;
  padding-bottom: 40px;

  @media only screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: $tablet) {
  .galleryLibrary {
    display: flex;
    flex-wrap: wrap;
  }
}

.galleryEmpty {
  height: 100vh;
}
