.team__container {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  width: 300px;
  max-width: 528px;
  max-height: 100vh;
  padding: 30px 20px 30px 20px;
  //color: $secondary-text-color;
  // background-image: url('../images/bgTeamModal.jpg');
  //background-color: $primary-background-color;
  background-color:$footer-background-color;
  border-radius: 5px;
  overflow-y: scroll;
  

  @media screen and (min-width: $tablet) and (max-width: 1023px) {
    margin: auto;
    width: 628px;
    height: 628px;
    padding: 30px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 900px;
    height: 700px;
    padding: 30px;
  }
}

.title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  // margin-top: 20px;
  
}

.team__title {
  display: block;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  color: $accent-color;
  
  
  &:hover {
    cursor: pointer;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
}

.team__content {
  text-align: center;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  width: calc((100% - 20px));
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  background-color: $accent-background-color-lite;
  @include transition(transform);

  @media screen and (min-width: $tablet) and (max-width: 1023.5px) {
    width: calc((100% - 20px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 15px * 3) / 4);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  &::after {
    content: '';
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    opacity: 0;
    @include transition(opacity);
  }

  &:hover::after {
    opacity: 1;
  }





}

.team__image {
  margin: auto;
  min-width: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: 500ms;
  
  @media screen and (min-width: $tablet) and (max-width: 1023px) {
    margin-bottom: 10px;
    min-width: 140px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 20px;
    min-width: 160px;
  }
}

.team__subtitle {
 font-size: 21px;
  color:  $secondary-text-color;
  margin-bottom: 10px;
  line-height: 1.15;

}

.team__text {
  
  color: $primary-text-color;
  line-height: 1.12;
  font-size: 15px;
  margin-bottom: 5px;

  @media screen and (min-width: $tablet) and (max-width: 1023px) {
    margin-bottom: 10px;
    
  }
}



.github__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.close__button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-image: url('../images/Icons/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  
  @media screen and (min-width: $tablet) and (max-width: 1023px) {
    width: 30px;
    height: 30px;
  }

  @media screen and (min-width: $desktop) {
    width: 40px;
    height: 40px;
  }
  &:hover{
    background-color:  $accent-color;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}