.pagination {
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 60px;
    // padding-left: 197px;
    // padding-right: 197px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 60px;
    // padding-left: 325px;
    // padding-right: 325px;
  }
}
.pagination-section {
  outline: 1px solid tomato;
}
.pagination-mobile {
  display: flex;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.pagination-tablet {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.pagination-buttons {
  display: flex;
  color: $primary-text-color;
}
.pagination-arrow-btn {
  width: 40px;
  height: 40px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: $primary-text-color;

  background-color: $footer-background-color;

  cursor: pointer;
}
.arrow {
  stroke: currentColor;
}
.pagination-btn {
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: $footer-background-color;
  // background-color: transparent;

  cursor: pointer;
}
.pagination-btn-tablet {
  width: 32px;
}
.pagination-btn-active {
  width: 40px;
  height: 40px;
  padding: 12px;

  color: $secondary-text-color;
  background-color: $accent-text-color;
  font-weight: 500;
  @include font-properties-cutted(12, 1.33);

  cursor: pointer;
}
// .pagination-number {
//   font-family: $main-font;
//   color: $primary-text-color;
//   font-weight: 500;
//   @include font-properties-cutted(12, 1.33);
// }
.pagination-number-active {
  color: $secondary-text-color;
  font-weight: 500;
  @include font-properties-cutted(12, 1.33);
}
