.tui-pagination.pagination-custom {
  margin: 0;
  height: 40px;
}
.pagination-custom > strong,
.pagination-custom > span,
.pagination-custom > .tui-page-btn.tui-is-selected.tui-first-child,
.pagination-custom > .tui-page-btn.tui-is-selected.tui-last-child {
  border: none;
  width: 40px;
  height: 40px;
}
.pagination-custom > a.tui-page-btn,
.pagination-custom > .tui-page-btn.tui-is-disabled {
  border: none;
  width: 40px;
  height: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: $primary-text-color;
  background-color: transparent;
  font-weight: 500;
  @include font-properties-cutted(12, 1.33);
}
.pagination-custom > .tui-page-btn:hover {
  border-radius: 5px;
}
.pagination-custom > strong.tui-is-selected {
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: $accent-text-color;
  font-weight: 500;
  @include font-properties-cutted(12, 1.33);
}
.pagination-custom > .tui-page-btn.tui-prev,
.pagination-custom > .tui-page-btn.tui-next {
  border: none;
  border-radius: 5px;
  margin-right: 0;
  margin-left: 0;
  border-radius: 5px;
  background-color: $footer-background-color;
}
.pagination-custom > .tui-page-btn.tui-first,
.pagination-custom > .tui-page-btn.tui-last,
.pagination-custom > .tui-page-btn.tui-prev-is-ellip,
.pagination-custom > .tui-page-btn.tui-next-is-ellip {
  display: none;
}
.pagination {
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 60px;
    // padding-left: 197px;
    // padding-right: 197px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 60px;
    // padding-left: 325px;
    // padding-right: 325px;
  }
}
.pagination-section {
  outline: 1px solid tomato;
}
.pagination-mobile {
  display: flex;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.pagination-tablet {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.pagination-arrow-btn {
  width: 40px;
  height: 40px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: $primary-text-color;

  background-color: $footer-background-color;

  cursor: pointer;
}
.arrow {
  stroke: currentColor;
}

.pagination-btn-tablet {
  width: 32px;
}
